<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Development.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GameToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Peer Distribute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TheGreatKit-Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>TheGreatKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Watch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C0EA5D61EBA1B3500F50EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0EA5EA1EBA1B3500F50EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0EA6061EBA1C9000F50EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C0EA60E1EBA1C9000F50EB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C13BC111ED8498300588F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C13BC461ED84AF300588F5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7CA213781ECF3F9A00F088DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
